#scene {
	text-align:center;
}

.centered {
	text-align: center;
}

#scene canvas {
	border-style: solid;
	border-width: 1px;
}

#control {
	text-align: center;
}

#control div, #control span {
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#control label {
	display: inline;
}

div#control {
	
}

textarea {
	width: 100%;
}